.logo1 {float:left; clear:left; background:#fff; color:#111; margin:0 10px 10px 0; padding:2px 8px 6px 8px; -moz-border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px; border-radius:8px; font-size:20px; color:#111;}
	.logo1 span {font-size:20px; color:#111;}

.desc {float:left; }